
html.light{
  --color-bg: #658498;
  --color-text: #FBEABC;
}

html.dark{
  --color-bg: #091627;
  --color-text: cadetblue;
}

body{
    margin: 0;
    font-family: "Merriweather", serif;
}

.background{
background-color: var(--color-bg);
color: var(--color-text);
}

/* .container{
  max-width: 1100px;
  background-color: #d7efcc;
  margin-left: auto;
  margin-right: auto;
} */

.none{
    display: none !important;
}

.header{
  /* color: cadetblue; */
  margin: 0;
  padding-top: 20px;
  text-align: center;
  font-size: 50px;
}

.subheader{
  /* color: cadetblue; */
  text-align: center;
  font-size: 20px;
}

.poems_container{
  /* max-width: 1800px; */
  /* background-color: #d7efcc; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8vh;
  padding: 30px;
}

.poem_card{
  display: flex;
  justify-content: space-between;
  max-width: 300px;
 /* width: 40vh; */
  height: 450px;
  overflow: hidden;
  border: 0px solid rgb(255, 255, 255);
  border-radius: 5%;
  transition: transform 0.2s ease-in;
  /* cursor: pointer; */
}

label > input{ /* HIDE RADIO */
  /* visibility: hidden;  */
  /* position: absolute;  */
}

.themes{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  padding: 10px;
  transition: transform 0.2s ease-in;
  cursor: pointer;
}
.themes:hover{
  transform: translateY(-10px)
}


.poem_card:hover{
  transform: translateY(-5px)
}


.back_button{
   text-align: center; 
  /* width: 4vh;
  height: 4vh; */
}

.back_button p {
  /* color: rgb(255, 255, 255);  */
  font-size: 15px;
  margin: 0;
  padding-bottom: 30px;
}

/* footer same as in main page*/
/* Footer */
.footer{
  background: #FBEABC;
  padding-top: 35px;
  padding-bottom: 40px;
}

.footer_row{
  background: #FBEABC;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  
}

.footer_copyright{
  font-weight: 700;
  color:  cadetblue;
  margin: 0;
  margin-bottom: 10px;
  line-height: 1.5;
}

.footer_connect{

}

.connect_row{
  background: #FBEABC;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
}

.footer_connect p{
  /* font-weight: 700; */
  color:  cadetblue;
  margin: 0;
  margin-bottom: -8px;
  line-height: 1.5;
}
